acres==0.2.0
aiofiles==24.1.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
asttokens==3.0.0
attrs==25.1.0
audioop-lts==0.2.1
av==13.1.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.9.0
CacheControl==0.14.2
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
cloudpickle==3.1.1
cloup==3.0.5
colorama==0.4.6
comm==0.2.2
comtypes==1.4.9
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.1
cryptography==44.0.1
cycler==0.12.1
debugpy==1.8.12
decorator==4.4.2
etelemetry==0.3.1
executing==2.2.0
filelock==3.17.0
firebase-admin==6.6.0
fitz==0.0.1.dev2
Flask==2.0.1
Flask-SocketIO==5.1.1
fonttools==4.55.8
frontend==0.0.3
gitdb==4.0.12
GitPython==3.1.44
glcontext==3.0.0
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.2
google-cloud-firestore==2.20.0
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
grpcio==1.70.0
grpcio-status==1.70.0
gTTS==2.5.4
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
ipykernel==6.29.5
ipython==8.31.0
isodate==0.6.1
isosurfaces==0.1.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
looseversion==1.3.0
lxml==5.3.0
manim==0.19.0
ManimPango==0.6.0
mapbox_earcut==1.0.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
moviepy==1.0.3
msgpack==1.1.0
narwhals==1.25.0
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
numpy==2.2.2
ollama==0.4.7
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathlib==1.0.1
pillow==10.4.0
platformdirs==4.3.6
proglog==0.1.10
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
prov==2.0.1
psutil==6.1.1
pure_eval==0.2.3
puremagic==1.28
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.27.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
pydot==3.0.4
pydub==0.25.1
pyglet==2.1.2
PyGLM==2.7.3
Pygments==2.19.1
PyJWT==2.10.1
pyparsing==3.2.1
PyPDF2==3.0.1
pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.2.1
python-socketio==5.4.0
pyttsx3==2.98
pytz==2025.1
pywin32==308
pyxnat==1.6.2
pyzmq==26.2.1
rdflib==6.3.2
referencing==0.36.2
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
scipy==1.15.1
screeninfo==0.8.1
simple-websocket==1.1.0
simplejson==3.19.3
six==1.17.0
skia-pathops==0.8.0.post2
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
srt==3.5.3
stack-data==0.6.3
starlette==0.45.3
streamlit==1.41.1
svgelements==1.9.6
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.0
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.1.3
wsproto==1.2.0
gunicorn==20.1.0
eventlet==0.30.2
gevent==21.8.0
gevent-websocket==0.10.1
